version: '3'

services:
  haproxy-exporter:
    image: prom/haproxy-exporter:latest
    container_name: haproxy-exporter
    restart: always
    ports:
      - "9101:9101"
    command:
      - '--haproxy.scrape-uri=http://admin:admin@{{ inventory_hostname }}:{{ haproxy_stats_port }}/haproxy?stats;csv'
    networks:
      - proxy_network

networks:
  proxy_network:
    driver: bridge