version: '3'

services:
  haproxy:
    image: {{ haproxy_image }}
    container_name: {{ haproxy_container_name }}
    restart: always
    ports:
      - "{{ haproxy_port }}:443"
{% if xray_http_enabled | default(false) %}
      - "{{ haproxy_http_port | default(8080) }}:{{ haproxy_http_port | default(8080) }}"
{% endif %}
    volumes:
      - {{ haproxy_config_dir }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    networks:
      - proxy_network

networks:
  proxy_network:
    external: true