XRAY_AGENT_PORT={{ xray_agent_port | default(8192) }}
XRAY_AGENT_TIMEOUT={{ xray_agent_timeout | default(5) }}
XRAY_AGENT_SUCCESS_THRESHOLD={{ xray_agent_success_threshold | default(3) }}
XRAY_AGENT_TEST_SITES={{ xray_agent_test_sites | default('https://www.google.com,https://www.cloudflare.com,https://www.github.com') }}
