{
"stats": {},
    "api": {
        "tag": "api",
        "services": [
            "StatsService"
        ]
    },
    "policy": {
        "levels": {
            "0": {
                "statsUserUplink": true,
                "statsUserDownlink": true
            }
        },
        "system": {
            "statsInboundUplink": true,
            "statsInboundDownlink": true,
            "statsOutboundUplink": true,
            "statsOutboundDownlink": true
        }
    },
  "log": {
    "loglevel": "debug"
  },
  "inbounds": [
          {
            "tag": "api",
            "listen": "0.0.0.0",
            "port": 54321,
            "protocol": "dokodemo-door",
            "settings": {
                "address": "0.0.0.0"
            }
        },
    {
      "port": {{ xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": {{ xray_clients | to_json }},
        "decryption": "none",
        "fallbacks": []
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "alpn": ["h3", "h2", "http/1.1"],
          "certificates": [
            {
              "certificateFile": "/etc/xray/certs/{{ domain_name }}.crt",
              "keyFile": "/etc/xray/certs/{{ domain_name }}.key"
            }
          ]
        }
      }
    }{% if xray_http_enabled | default(false) %},
    {
      "port": {{ xray_http_port | default(8080) }},
      "protocol": "http",
      "settings": {
        "accounts": [
          {
            "user": "{{ xray_http_user | default('username') }}",
            "pass": "{{ xray_http_pass | default('password') }}"
          }
        ]
      },
      "streamSettings": {
        "network": "tcp"
      }
    }{% endif %}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ],
  "routing": {
        "rules": [
            {
                "inboundTag": [
                    "api"
                ],
                "outboundTag": "api",
                "type": "field"
            }
        ]
    }
}